extends ../layout

block content
  .container
      h1.page-header= post.surveytitle
      p
        script(src='/javascripts/calculator.js')
        span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
        p.well(style='white-space:pre;')= post.surveycontent
    
        
        table.table
          tr
            th 주관식 질문 답변
            th time
          each comment in comments
            tr
              th= comment.content
              td= moment(comment.createdAt).format('YYYY/MM/DD')
            
        form.form-inline(action='/users/' + post._id + '/comments', method='POST')
          .form-group
            label.sr-only(for='content') content
            input.form-control(name='content', size=50, placeholder='content')
          button.btn.btn-info 답변 저장    
    
      h1.page-header= post.surveytitle2
      p 객관식 질문답변
      
        .form-group
          input(type="checkbox",value="1") 
          label=post.surveycontent2
          td=post.count
        .form-group
          input(type="checkbox",value="2") 
          label=post.surveycontent3
          td=post.count
        .form-group
          input(type="checkbox",value="3") 
          label=post.surveycontent4
          td=post.count  
        .form-group
          input(type="checkbox",value="4") 
          label=post.surveycontent5
          td=post.count
        .form-group    
          input(type="checkbox",value="5") 
          label=post.surveycontent6
          td=post.count
      a.btn.btn-default(href='/users/count') 문항 선택
      .form-group    
      a.btn.btn-default(href='javascript:window.history.back();') 뒤로
    script.
    $(function(){
      var survey = new initCalculator();
    });
